<?xml version='1.0'?>
<manifest xmlns:a='http://schemas.android.com/apk/res/android' package='com.sreeharis.ota' a:versionCode='0' a:versionName='0'>
	<application a:label='Updates'>
		<activity a:name='.Updater'>
			<intent-filter>
				<category a:name='android.intent.category.LAUNCHER'/>
				<action a:name='android.intent.action.MAIN'/>
			</intent-filter>
		</activity>
	</application>
</manifest>
